<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Inscription diététicien</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="style.css">
  
</head>
<body>

<header>
<h1> Bienvenue </h1>
<!---- ajouter le nom de l'utilisateur+ suggestion à droite-->
</header>
			<p>
			<a href="">Saisir un repas</a>
			</p>
			
			<p>
			<a href="">Créer un menu</a>
			</p>
			
			<p>
			<a href="">Créer une recette</a>
			</p>
			
			
			<p>
			<a href="">Suivre son Alimentation</a>
			</p>
			
			<p>
			<a href="">Consulter un diététicien</a>
			</p>
			
</body>
			